.myFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ps{
    color: #7ba5ce;
    font-size: 16px;
}
.img1{
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
}
.myFlex2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}